<div id="status-bar">
    <h2 style="margin: auto;">Måltider</h2>
</div>

<div>
    <div class="list-container" >
        <div class="ikon-container" style="background-color: white;">
            <img class="ikon" src="./res/ikoner/Melk.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Milk</p>
            <p>Melk</p>
        </div>
    </div>
    <div class="list-container" >
        <div class="ikon-container">
            <img class="ikon" src="./res/ikoner/Paalegg.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Spread</p>
            <p>Pålegg</p>
        </div>
    </div>
    <div class="list-container" >
        <div class="ikon-container">
            <img class="ikon" src="./res/ikoner/Vegetar.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Vegan</p>
            <p>Vegetarianer</p>
        </div>
    </div>
    <div class="list-container" >
        <div class="ikon-container">
            <img class="ikon" src="./res/ikoner/Halal.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Halal</p>
            <p>Halal</p>
        </div>
    </div>


</div>