<div id="status-bar">
        <h3 style="margin: auto;">Språk</h3>
    </div>
    <div class="three-row">

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')" > 
            <img class="flagg" src="./res/flagg/Nippon.png" />
            <p class="flagg-text">日本の</p>
            <p class="flagg-text">Japansk</p>
        </div>


        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
            <img class="flagg" src="./res/flagg/Russia.svg" />
            <p class="flagg-text">русский</p>
            <p class="flagg-text">Russisk</p>
        </div>

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
                <img class="flagg" src="./res/flagg/China.jpg" />
                <p class="flagg-text">中国</p>
                <p class="flagg-text">Kinesisk</p>
        </div>

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
                <img class="flagg" src="./res/flagg/England.png" />
                <p class="flagg-text">English</p>
                <p class="flagg-text">Engelsk</p>
        </div>

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
                <img class="flagg" src="./res/flagg/Polen.jpg" />
                <p class="flagg-text">Polski</p>
                <p class="flagg-text">Polsk</p>
        </div>

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
                <img class="flagg" src="./res/flagg/Arab.svg" />
                <p class="flagg-text"></p>
                <p class="flagg-text">Arabisk</p>
        </div>

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
                <img class="flagg" src="./res/flagg/Eritrea.png" />
                <p class="flagg-text"></p>
                <p class="flagg-text">Tigrinja</p>
        </div>

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
                <img class="flagg" src="./res/flagg/Somali.gif" />
                <p class="flagg-text"></p>
                <p class="flagg-text">Somali</p>
        </div>

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
                <img class="flagg" src="./res/flagg/Spanish.jpg" />
                <p class="flagg-text">Español</p>
                <p class="flagg-text">Spansk</p>
        </div>

        <div class="three-row-item" onclick="OnClick_Navigate('./view/overview.html')">
                <img class="flagg" src="./res/flagg/Pakistani.GIF" />
                <p class="flagg-text"></p>
                <p class="flagg-text">Urdu</p>
        </div>


    </div>
