<div id="status-bar">
    <h2 style="margin: auto;">Meny</h2>
</div>
<div>
    <div class="list-container" >
        <div class="ikon-container">
            <img class="ikon" src="./res/ikoner/Besoktider.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Visiting hours</p>
            <p>Bseøks tider</p>
        </div>
    </div>
    <div class="list-container" >
        <div class="ikon-container">
            <img class="ikon" src="./res/ikoner/Blodprove.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Samples</p>
            <p>Prøver</p>
        </div>
    </div>
    <div class="list-container" >
        <div class="ikon-container">
            <img class="ikon" src="./res/ikoner/Legevisitt.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Dr. visit</p>
            <p>Legevisitt</p>
        </div>
    </div>
    <div class="list-container" onclick="OnClick_Navigate('./view/meals/overview.html')" >
        <div class="ikon-container">
            <img class="ikon" src="./res/ikoner/Maltid.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Meals</p>
            <p>Måltider</p>
        </div>
    </div>
    <div class="list-container" onclick="OnClick_Navigate('./view/urgent.html')" >
        <div class="ikon-container" style="background-color: #FF9100;">
            <p class="ikon" style="color: white; font-size: 46px;">!</p>
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Urgent</p>
            <p>Haster</p>
        </div>
    </div>
</div>