<div id="status-bar" style="background-color: #FF9100;">
        <div style="display: table-caption;" onclick="OnClick_Navigate('./view/overview.html')">
            <p id="back_button">Tilbake</p>
        </div>
    <h2 style="margin: auto;">Haster</h2>
</div>
<div>
    <div class="list-container" >
        <div class="ikon-container" style="background-color: black;">
            <img class="ikon" src="./res/ikoner/wc.bmp" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Toilet / Restrom</p>
            <p>Toalett</p>
        </div>
    </div>
    <div class="list-container" >
        <div class="ikon-container">
            <img class="ikon" src="./res/ikoner/Drink.png" />
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <p>Water</p>
            <p>Vann</p>
        </div>
    </div>

</div>